label {
  color: forestgreen;
  font-weight: 600;
  font-size: 16px;
  width: 115px;
}

button {
  background-color: lightseagreen;
}

.validation {
  position: absolute;
  left: 0;
  bottom: 13px;
  color: indianred;
}

.input-con {
  display: flex;
}

.input-con label {
  margin-top: 10px;
}

.input-con input {
  margin-bottom: 35px;
}

input.error {
  border-color: indianred;
}
