<hero-card>
  <h1 title>{{ dashTitle }}</h1>

  <hero-nav></hero-nav>

  <div class="margin-top-xl" *ngIf="selectedHero">
    <h2 style="font-weight: bold">{{ selectedHero.name }} Details</h2>

    <form [formGroup]="heroDetailForm">
      <div class="display-flex margin-bottom-m">
        <label>id:</label>
        {{ selectedHero.id }}
      </div>
      <div class="input-con">
        <label for="name">name:</label>
        <input
          autocomplete="off"
          id="name"
          formControlName="name"
          [(ngModel)]="selectedHero.name"
          (change)="onChange(selectedHero)"
        />
      </div>
      <div class="input-con">
        <label for="strength">strength:</label>
        <input
          autocomplete="off"
          id="strength"
          formControlName="strength"
          [(ngModel)]="selectedHero.strength"
          (change)="onChange(selectedHero)"
        />
      </div>
    </form>
  </div>

  <button (click)="back()">Back</button>
</hero-card>
