<hero-card>
  <h1 title>{{ dashTitle }}</h1>

  <hero-nav></hero-nav>

  <div class="margin-top-xl" *ngIf="selectedHero">
    <h2 style="font-weight: bold">{{ selectedHero.name }} Details</h2>

    <form [formGroup]="heroForm">
      <!-- <form #HeroForm="ngForm"> -->
      <div class="display-flex margin-bottom-m">
        <label>id:</label>
        {{ selectedHero.id }}
      </div>
      <div class="input-con">
        <label for="name">name:</label>
        <div class="relative">
          <input
            autocomplete="off"
            id="name"
            formControlName="name"
            (change)="onChange(heroForm)"
            [ngClass]="{
              error:
                heroForm.controls['name'].errors !== null && heroForm.touched
            }"
          />
          <span class="validation">
            <ng-template
              [ngIf]="heroForm.controls['name'].errors?.['required'] && heroForm.touched"
              >Name is required</ng-template
            >
          </span>
        </div>
      </div>
      <div class="input-con">
        <label for="strength">strength:</label>
        <div class="relative">
          <input
            autocomplete="off"
            id="strength"
            formControlName="strength"
            (change)="onChange(heroForm)"
            [ngClass]="{
              error:
                heroForm.controls['strength'].errors !== null &&
                heroForm.touched
            }"
          />
          <span class="validation">
            <ng-template
              [ngIf]="heroForm.controls['strength'].errors?.['required'] && heroForm.touched"
              >Strength value is required</ng-template
            >
            <ng-template
              [ngIf]="heroForm.controls['strength'].errors?.['pattern'] && heroForm.touched"
              >Numeric value is required</ng-template
            >

            <ng-template
              [ngIf]="heroForm.controls['strength'].errors?.['min'] && heroForm.touched"
              >Cannot be 0</ng-template
            >
          </span>
        </div>
      </div>
    </form>
  </div>

  <button (click)="back()">Back</button>
</hero-card>
