a {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

a.shop {
  background-image: url('/assets/shop-l.jpg');
}

a.heroes {
  background-image: url('/assets/hero.jpg');
  color: white;
}

.frontPage-container {
  display: grid;
  place-items: center;
  height: 100%;
}

.frontPage-container div {
  min-width: 80vw;
}
